<!DOCTYPE html>
<html>
<head>
    <title>All Stories</title>
</head>
<body>
    <h1>All Stories</h1>
    <ul>
        <% stories.forEach(story => { %>
            <li>
                <h3><%= story.title %></h3>
                <p><%= story.content.substring(0, 100) %>... <a href="#">Read more</a></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>
